/* Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, 'sans-serif';
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: var(--background-body);
}
h1 {
  font-size: var(--h1-font-sizer);
}
h2 {
  font-size: var(--h2-font-sizer);
}
.grid {
  display: grid;
  align-items: center;
  grid-template-columns: 100%;
  max-width: 1200px;
  margin-right: 1rem;
  margin-left: 1rem;
}

/* variaveis */
:root {
  --header-height: 3rem;

  --color-white: #ffffff;
  --color-amarelo: #fea24d;
  --color-subetitle: #636492;

  --background-body: #27283d;

  --h1-font-sizer: 2rem;
  --h2-font-sizer: 1rem;
  --smail-font-size0: 0.8rem;

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
}
.nav__logo {
  color: white;
}
.nav__logo span {
  color: var(--color-amarelo);
  font-weight: 600;
}
.nav__icon {
  font-size: 1.2rem;
}

.button {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--color-amarelo);
  color: var(--background-body);
  border-radius: 1.5rem;
}
.button:hover {
  box-shadow: 2px 0 24px var(--color-amarelo);
  transition: 0.3s ease;
}

.home {
  height: calc(100vh - var(--header-height));
}
.nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    right: -100%;
    top: var(--header-height);
    width: 60%;
    height: 100vh;
    padding: 1.5rem;
    background-color: var(--color-amarelo);
    z-index: var(--z-fixed);
    transition: 0.5s ease;
    border-radius: 1rem 0 0 0;
  }
  .nav__menu a {
    width: 100%;
    padding: 1rem 0;
    color: var(--background-body);
  }
  .nav__menu a:hover {
    background: linear-gradient(90deg, var(--background-body), #27283d00);
    color: white;
    padding-left: 1rem;
    transition: 0.4s ease;
    border-radius: 0.25rem 0 0 0.25rem;
  }

  .show {
    right: 0;
  }
}

.home__data {
  margin-top: 9rem;
  text-align: center;
}
.home__title {
  font-size: 1.5rem;
  color: white;
}
.home__title span {
  color: var(--color-amarelo);
}
.home__subtitle {
  color: var(--color-subetitle);
  font-size: var(--h2-font-sizer);
  margin-bottom: 1rem;
}

.home__social {
  display: flex;
  align-items: center;
  text-align: initial;
}
.home__name {
  color: white;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  border-left: 1px solid var(--color-amarelo);
  margin-right: 0.5rem;
  padding: 1rem 0.2rem;
  font-size: var(--smail-font-size0);
}
.home__icon {
  margin-right: 0.5rem;
  color: white;
}
.home__img {
  padding: 2rem;
}
.menu__toggle {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header .nav {
    margin: 0 auto;
    padding: 2rem 2%;
  }
  .nav__logo {
    font-size: 1.5rem;
  }
  .home {
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);

    margin: 0 auto;
  }
  .button {
    margin-bottom: 3rem;
  }
  .nav__list {
    display: flex;
    gap: 1rem;
  }
  .nav__item a {
    transition: color 0.3s ease;
    color: var(--color-subetitle);
  }
  .nav__item a:hover {
    color: white;
  }
  .menu__toggle {
    display: none;
    cursor: pointer;
  }
  .home__data {
    padding: 0;
    text-align: center;
  }
  .home__title {
    font-size: 3rem;
  }
  .home__subtitle {
    font-size: 1.2rem;
  }
  .button {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .home__name {
    font-size: 1.25rem;
  }
  .home__icon {
    font-size: 2rem;
    transition: color 0.3s ease;
  }
  .home__social a:hover {
    color: var(--color-amarelo);
  }
}
